@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --hover-bg1: rgb(29, 60, 217);
  --hover-bg2: rgb(8, 8, 8, 0.9);
  --hover-bg3: rgb(90, 9, 90, 0.9);
  --transition1: all 0.3s linear;
  --nav-bg: rgb(51, 51, 234);
  --linear-gradiant: linear-gradient(
    120deg,
    var(--hover-bg1),
    var(--hover-bg2)
  );
  --box-shadow1: 1px 2px 2px 2px rgba(161, 37, 37, 0.3);
  --box-shadow2: 1px 3px 4px 4px rgba(199, 23, 23, 0.3);
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  --bg-color-black: black;
  --text-color-white: white;
  --border-color: white;
}

body {
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  height: max-content;
}

img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

section {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
}

button {
  outline: 0;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 1rem;
  background: transparent;
}

a {
  color: black;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  outline: 0;
  transition: all 0.3s linear;
  border-radius: 1rem;
  color: var(--text-color-white);
}

.title {
  text-align: center;
  margin-block: 2rem;
  text-transform: capitalize;
}

/*==================navbar-section=============*/

.navbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: var(--box-shadow1);
}

.navbar-center {
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  background-color: var(--bg-color-black);
}

.logo {
  border: 2px solid black;
  border-color: var(--text-color-white);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.navlinks a {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.theme-bars {
  display: flex;
  align-items: center;
}

.theme button {
  color: var(--text-color-white);
}

.bars {
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    .navbar {
      width: 100%;
      height: 4rem;
      box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: white;
      box-shadow: var(--box-shadow1);
    }

    .navbar-center {
      justify-content: space-evenly;
    }

    .navlinks a {
      margin-right: 2rem;
      font-size: 1.2rem;
      display: none;
    }

    .theme-bars {
      display: flex;
      align-items: center;
    }

    .theme button {
      color: var(--text-color-white);
    }

    .bars {
      display: block;
    }

    .bars button {
      color: var(--text-color-white);
    }
  }
}
/*==================hero-section=============*/

#hero {
  width: 100%;
  height: 100vh;
  margin-top: 3rem;
}

.hero-center {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  display: flex;
}

.hero-image img {
  border-radius: 50%;
  border-color: var(--text-color-white);
}

.hero-intro {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.hero-intro h2 {
  font-size: 4rem;
}

.hero-intro span {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero-intro p {
  line-height: 2;
  margin-bottom: 2rem;
  width: 60%;
  text-align: center;
}

.btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.btns button,
.btns a {
  border: 1px solid black;
  border-color: var(--border-color);
  font-size: 1.2rem;
  color: var(--text-color-white);
}

@media (max-width: 600px) {
  #hero {
    width: 100%;
    height: 100vh;
    margin-top: 0rem;
  }

  .hero-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .hero-intro p {
    text-align: center;
  }
}

/*==================about-section=============*/

#about {
  width: 100vw;
  margin-bottom: 4rem;
}

.about-center {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutImg {
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.aboutImg img {
  border-radius: 1rem;
  width: 200px;
  height: 200px;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.aboutInfo .myself {
  line-height: 2;
  width: 70%;
  margin: 0 auto;
  text-align: justify;
}

.edu-info {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  height: 10rem;
}

.education {
  border: 2px solid black;
  border-color: var(--border-color);
  padding: 0.3rem 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 1rem;
  border-radius: 1rem;
}

.education div,
.education ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education i {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .aboutInfo .myself {
    line-height: 2;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    height: 12rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 1rem;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #7a6b6b;
  }

  ::-webkit-scrollbar-thumb:vertical {
    background: #1e1d1d;
  }

  .edu-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: 20rem;
  }

  .education {
    padding: 0.3rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    border-radius: 1rem;
  }
}

/*==================skill-section=============*/

#skills {
  width: 100vw;
  margin-bottom: 4rem;
}

.skill-center {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.skill {
  border: 1px solid black;
  border-color: var(--border-color);
  padding: 0.6rem 0.3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill i {
  font-size: 2rem;
}

.skill h3 {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .skill-center {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .skill {
    padding: 0.6rem 0.1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill i {
    font-size: 1rem;
  }

  .skill h3 {
    font-size: 1.2rem;
  }
}

/*==================service-section=============*/

#services {
  width: 100vw;
  margin-bottom: 4rem;
}

.service-center {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.service {
  border: 2px solid black;
  border-color: var(--border-color);
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 50%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.service:hover {
  right: 0;
}

.service i {
  font-size: 2rem;
}

.service h2 {
  font-size: 1.5rem;
}

.service p {
  line-height: 2;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .service-center {
    width: 90%;
    flex-direction: column;
  }

  .service {
    width: 100%;
  }

  .service i {
    font-size: 1.5rem;
  }

  .service h2 {
    font-size: 1.2rem;
  }

  .service p {
    line-height: 2;
    font-size: 1rem;
  }
}
/*==================portfolio-section=============*/

#portfolios {
  width: 100vw;
  margin-bottom: 4rem;
}

.portfolio-center {
  width: 70%;
  margin: 0 auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 1.5rem;
}

.singleProject {
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.singleProject:hover {
  box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow2);
}

.singleProject img {
  width: 100%;
  border: none;
  border-radius: 1rem;
}

.link-btn {
  font-size: 3rem;
  margin-bottom: 0;
  margin-right: 1rem;
}

.seeMore {
  text-transform: capitalize;
  font-size: 1.2rem;
  text-decoration: underline;
  color: black;
  background-color: aliceblue;
}

@media (max-width: 600px) {
  .portfolio-center {
    width: 90%;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

/*==================contact-section=============*/

#contact {
  width: 100vw;
  margin-bottom: 4rem;
}

.contact-center {
  width: 80%;
  height: 30rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  background-color: rgb(226, 211, 211);

  padding: 2rem;
  width: 20%;
  height: 100%;
}

.contact-info a:last-child {
  font-size: 2rem;
}

.contact-info a {
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  background-color: white;
  width: 50%;
  height: 4rem;
  display: grid;
  place-items: center;
  color: black;
}

.contact-info a:hover {
  transform: scale(1.2);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 40%;
  border-radius: 1rem;
  background-color: rgb(226, 211, 211);
  padding: 1rem;
  height: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label,
input,
textarea {
  width: 70%;
  height: 2.5rem;
  padding: 0.3rem 1rem;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  color: black;
}

input,
textarea {
  background-color: white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

textarea {
  height: 5rem;
}

form button {
  border-radius: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .contact-center {
    width: 90%;
    height: auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    background-color: rgb(226, 211, 211);
    padding: 2rem;
    width: 100%;
    height: 100%;
  }

  .contact-info a:last-child {
    font-size: 2rem;
  }

  .contact-info a {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    background-color: white;
    width: 50%;
    height: 4rem;
    display: grid;
    place-items: center;
  }

  form {
    width: 100%;
  }

  form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/*==================footer-section=============*/

#footer {
  width: 100vw;
  height: 3rem;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: var(--box-shadow2);
}

.footer-center {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.footer-center article {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .footer-center {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
  }

  .footer-center article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
    position: relative;
  }

  .footer-center article i {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .footer-center article i:hover + p {
    display: block;
    position: absolute;
    top: -4rem;
    left: -6rem;
    width: max-content;
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--bg-color-black);
  }

  .footer-center article p {
    display: none;
  }
}

/*==================projects-page=============*/

#project {
  width: 100vw;
  overflow: hidden;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-center {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.homeBtn {
  margin-bottom: 2rem;
  text-align: left;
  width: max-content;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .project-center {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/*==================sidebar-section=============*/

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: blue;
  position: fixed;
  top: 0rem;
  right: 0;
  transform: translateX(100%);
  transition: transform 1s ease;
  width: 10rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  z-index: 200;
}

.sidebar-show {
  transform: translateX(0);
  z-index: 200;
  animation: slideEffect 0.3s linear;
}

@keyframes slideEffect {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}
.sidebar a {
  color: white;
}

.sidebar-show button {
  background: black;
  color: white;
}
